<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itonglian.fms.dao.FmsFileMapper">
  <resultMap id="BaseResultMap" type="com.itonglian.fms.entity.FmsFile">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="taskId" jdbcType="VARCHAR" property="taskid" />
    <result column="draftLogin" jdbcType="VARCHAR" property="draftlogin" />
    <result column="draftName" jdbcType="VARCHAR" property="draftname" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="modifyTime" jdbcType="VARCHAR" property="modifytime" />
    <result column="attachPath" jdbcType="VARCHAR" property="attachpath" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.itonglian.fms.entity.FmsFileWithBLOBs">
    <result column="commonData" jdbcType="LONGVARBINARY" property="commondata" />
    <result column="customizedData" jdbcType="LONGVARBINARY" property="customizeddata" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, taskId, draftLogin, draftName, status, createTime, modifyTime, attachPath
  </sql>
  <sql id="Blob_Column_List">
    commonData, customizedData
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.itonglian.fms.entity.FmsFileExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from fms_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.itonglian.fms.entity.FmsFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fms_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.itonglian.fms.entity.FmsFileExample">
    delete from fms_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itonglian.fms.entity.FmsFileWithBLOBs">
    insert into fms_file (id, taskId, draftLogin, 
      draftName, status, createTime, 
      modifyTime, attachPath, commonData, 
      customizedData)
    values (#{id,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, #{draftlogin,jdbcType=VARCHAR}, 
      #{draftname,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, 
      #{modifytime,jdbcType=VARCHAR}, #{attachpath,jdbcType=VARCHAR}, #{commondata,jdbcType=LONGVARBINARY}, 
      #{customizeddata,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.itonglian.fms.entity.FmsFileWithBLOBs">
    insert into fms_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskid != null">
        taskId,
      </if>
      <if test="draftlogin != null">
        draftLogin,
      </if>
      <if test="draftname != null">
        draftName,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
      <if test="attachpath != null">
        attachPath,
      </if>
      <if test="commondata != null">
        commonData,
      </if>
      <if test="customizeddata != null">
        customizedData,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="draftlogin != null">
        #{draftlogin,jdbcType=VARCHAR},
      </if>
      <if test="draftname != null">
        #{draftname,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=VARCHAR},
      </if>
      <if test="attachpath != null">
        #{attachpath,jdbcType=VARCHAR},
      </if>
      <if test="commondata != null">
        #{commondata,jdbcType=LONGVARBINARY},
      </if>
      <if test="customizeddata != null">
        #{customizeddata,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itonglian.fms.entity.FmsFileExample" resultType="java.lang.Long">
    select count(*) from fms_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fms_file
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.taskid != null">
        taskId = #{record.taskid,jdbcType=VARCHAR},
      </if>
      <if test="record.draftlogin != null">
        draftLogin = #{record.draftlogin,jdbcType=VARCHAR},
      </if>
      <if test="record.draftname != null">
        draftName = #{record.draftname,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createTime = #{record.createtime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null">
        modifyTime = #{record.modifytime,jdbcType=VARCHAR},
      </if>
      <if test="record.attachpath != null">
        attachPath = #{record.attachpath,jdbcType=VARCHAR},
      </if>
      <if test="record.commondata != null">
        commonData = #{record.commondata,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.customizeddata != null">
        customizedData = #{record.customizeddata,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update fms_file
    set id = #{record.id,jdbcType=VARCHAR},
      taskId = #{record.taskid,jdbcType=VARCHAR},
      draftLogin = #{record.draftlogin,jdbcType=VARCHAR},
      draftName = #{record.draftname,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      modifyTime = #{record.modifytime,jdbcType=VARCHAR},
      attachPath = #{record.attachpath,jdbcType=VARCHAR},
      commonData = #{record.commondata,jdbcType=LONGVARBINARY},
      customizedData = #{record.customizeddata,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fms_file
    set id = #{record.id,jdbcType=VARCHAR},
      taskId = #{record.taskid,jdbcType=VARCHAR},
      draftLogin = #{record.draftlogin,jdbcType=VARCHAR},
      draftName = #{record.draftname,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      createTime = #{record.createtime,jdbcType=VARCHAR},
      modifyTime = #{record.modifytime,jdbcType=VARCHAR},
      attachPath = #{record.attachpath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>