<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>归档详情</title>
    <link th:href="@{/static/css/bootstrap.min.css}"rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/static/js/jquery.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script></head>
<body>
<div class="table-responsive" style="padding: 50px">
    <h1>归档详情</h1>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th style="min-width: 100px">属性名</th>
        <th>属性值</th>

    </tr>
    </thead>
    <tbody>
        <tr>
            <td>任务id</td>
            <td th:text="${params.taskId}"></td>
        </tr>
        <tr>
            <td>标题</td>
            <td th:text="${params.title}"></td>
        </tr>
        <tr>
            <td>公文类型</td>
            <td th:text="${params.type}"></td>
        </tr>
        <tr>
            <td>拟稿时间</td>
            <td th:text="${params.draftTime}"></td>
        </tr>
        <tr>
            <td>拟稿人登录名</td>
            <td th:text="${params.drafter}"></td>
        </tr>
        <tr>
            <td>拟稿人姓名</td>
            <td th:text="${params.drafterName}"></td>

        </tr>
        <tr>
            <td>
                json数据
            </td>
            <td>
                <pre th:text="${common}"></pre>
            </td>
        </tr>
    </tbody>
</table>
</div>
<script>

</script>
</body>
</html>