<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>表格列表</title>
<!--
  <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

  <link th:href="@{/static/css/table-list.css}" rel="stylesheet" type="text/css"  />
  <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
</head>
<body>
  <div class="fms">
    <div class="fms-menu">
      <ul>
<!--
        <li class="fms-menu-title"><span class="glyphicon glyphicon-th-list icon-title" aria-hidden="true"></span>归档列表1</li>
-->
        <!--选中的左侧菜单在li上加class类名为‘active’-->
        <li class="fms-menu-title active"><span class="glyphicon glyphicon-th-list icon-title" aria-hidden="true"></span>归档列表</li>
<!--
        <li class="fms-menu-title"><span class="glyphicon glyphicon-th-list icon-title" aria-hidden="true"></span>归档列表3</li>
-->
      </ul>
    </div>
    <div class="fms-content fade-in">
      <ol class="breadcrumb">
        <li class="active">归档数据列表</li>
      </ol>
      <div class="fms-table-part">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>流程ID</th>
            <th>标题</th>
            <th>拟稿人</th>
            <th>公文类型</th>
            <th>归档状态标识</th>
            <th>归档状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="fmsTask: ${datas}">
            <td th:text="${fmsTask.taskid}">290387</td>
            <td class="fms-table-title" th:text="${fmsTask.title}">管理gray accord</td>
            <td th:text="${fmsTask.draftname}">测试用400</td>
            <td th:switch="${fmsTask.filetype}">
              <span th:case="1">文件报批单</span>
              <span th:case="2">自由行问</span>
              <span th:case="3">单位发文</span>
              <span th:case="4">党组发文</span>
              <span th:case="5">院发文</span>
              <span th:case="6">收文登记</span>
            </td>
            <td th:text="${fmsTask.status}">102</td>
            <td th:switch="${fmsTask.status}">
              <span class="waiting" th:case="100"><span class="glyphicon glyphicon-exclamation-sign icon-title "></span>待处理</span>
              <span class="waiting" th:case="101"><span class="glyphicon glyphicon-retweet icon-title "></span>正在处理</span>
              <span class="failure" th:case="103"><span class="glyphicon glyphicon-remove icon-title "></span>处理失败</span>
              <a class="success" th:case="102" ><span class="glyphicon glyphicon-play icon-title "></span>处理成功</a>
              <span class="waiting" th:case="200"><span class="glyphicon glyphicon-sort icon-title "></span>正在归档</span>
              <span class="failure" th:case="201"><span class="glyphicon glyphicon-remove icon-title "></span>归档提交失败</span>
              <span class="final" th:case="300"><span class="glyphicon glyphicon-ok icon-title "></span>归档成功</span>
              <span class="failure" th:case="301"><span class="glyphicon glyphicon-remove icon-title "></span>归档失败</span>


            </td>
            <td>
              <a th:href="@{'/dataController/detail?dataId='+${fmsTask.dataid}}"><span class="glyphicon glyphicon-th-list icon-title"></span></a>
              <a th:href="@{'/dataController/retry?id='+${fmsTask.id}}"><span class="glyphicon glyphicon-refresh icon-title"></span></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="fms-page">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script>
    setTimeout(function () {
      window.location.reload();
    },5000);

  </script>
</body>
</html>