<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>归档列表</title>
  <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<!--
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
-->

  <link th:href="@{/static/css/table-list.css}" rel="stylesheet" type="text/css"  />
  <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
</head>
<body>
  <div class="fms">
    <div class="fms-menu">
      <ul>
<!--
        <li class="fms-menu-title"><span class="glyphicon glyphicon-th-list icon-title" aria-hidden="true"></span>归档列表1</li>
-->
        <!--选中的左侧菜单在li上加class类名为‘active’-->
        <li class="fms-menu-title active"><span class="glyphicon glyphicon-th-list icon-title" aria-hidden="true"></span><a th:href="@{'/dataController/dataIndex'}">归档列表</a></li>

        <li class="fms-menu-title"><span class="glyphicon glyphicon-cog icon-title" aria-hidden="true"></span><a th:href="@{'/server/serverIndex'}">归档操作</a></li>

        <!--
                <li class="fms-menu-title"><span class="glyphicon glyphicon-th-list icon-title" aria-hidden="true"></span>归档列表3</li>
        -->
      </ul>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
          <input type="text" class="form-control" id="searchFilter" placeholder="输入taskId搜索">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="search()">搜索</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="fms-content fade-in">
      <ol class="breadcrumb">
        <li class="active">归档数据列表</li>
      </ol>
      <div class="fms-table-part">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>流程ID</th>
            <th>标题</th>
            <th>拟稿人</th>
            <th>归档人登录名</th>
            <th>归档人姓名</th>
            <th>请求归档时间</th>
            <th>公文类型</th>
            <th>归档状态标识</th>
            <th>归档状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="fmsTask: ${datas}">
            <td th:text="${fmsTask.taskid}">290387</td>
            <td class="fms-table-title" th:text="${fmsTask.title}">管理gray accord</td>
            <td th:text="${fmsTask.draftname}">测试用400</td>
            <td th:text="${fmsTask.prologin}">测试用400</td>
            <td th:text="${fmsTask.proname}">测试用400</td>
            <td th:text="${fmsTask.protime}">测试用400</td>
            <td th:switch="${fmsTask.filetype}">
              <span th:case="1">文件报批单</span>
              <span th:case="2">自由行问</span>
              <span th:case="3">单位发文</span>
              <span th:case="4">党组发文</span>
              <span th:case="5">院发文</span>
              <span th:case="6">收文登记</span>
            </td>
            <td th:id="${fmsTask.taskid}"></td>
            <td th:id="${fmsTask.taskid}+_name">
            </td>
            <td>
              <a th:id="${fmsTask.taskid}+_href" th:href="@{'/dataController/detail?dataId='+${fmsTask.dataid}}"><span class="glyphicon glyphicon-th-list icon-title"></span></a>
              <a th:href="@{'/dataController/retry?id='+${fmsTask.id}}"><span class="glyphicon glyphicon-refresh icon-title"></span></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="fms-page">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <th:block th:each="i:${#numbers.sequence(1,pageInfo.pages)}">
                <li><a th:href="@{'/dataController/dataIndex?pageNum='+${i}}" th:text="${i}">1</a></li>
              </th:block>
              <input type="hidden" id="pageNum" th:value="${pageInfo.pageNum}"/>
              <!--<li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>-->
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <script>

    function search(){
      var taskId = $("#searchFilter").val();
      var pageNum = $("#pageNum").val();
      console.info(taskId,pageNum);
      window.location.href="/fms/dataController/dataIndex?pageNum="+pageNum+"&taskId="+taskId;
    }

    function refresh(){
      $.ajax({
        type:"POST",
        url:"/fms/dataController/refresh",
        success:function(fmsTaskList){
          for(var i=0;i<fmsTaskList.length;i++){
            setStatusAndName(fmsTaskList[i]);
          }
        }
      });
    }

    function dataToHtml(fmsTask,color,icon,name){
      $("#"+fmsTask.taskid).text(fmsTask.status);
      $("#"+fmsTask.taskid+"_name").html("<span class=\""+color+"\"><span class=\""+icon+" icon-title \"></span>"+name+"</span>");
    }
    function setStatusAndName(fmsTask){
      switch (fmsTask.status) {
        case 100:
          dataToHtml(fmsTask,"waiting","glyphicon glyphicon-exclamation-sign","待处理");
          break;
        case 101:
          dataToHtml(fmsTask,"waiting","glyphicon glyphicon-retweet","正在处理");
          break;
        case 102:
          dataToHtml(fmsTask,"success","glyphicon glyphicon-play","处理成功");
          $("#"+fmsTask.taskid+"_href").attr("href","/fms/dataController/detail?dataId="+fmsTask.dataid);
          break;
        case 103:
          dataToHtml(fmsTask,"failure","glyphicon glyphicon-remove","处理失败");
          break;
        case 200:
          dataToHtml(fmsTask,"filing","glyphicon glyphicon-sort","提交归档中");
          break;
        case 201:
          dataToHtml(fmsTask,"failure","glyphicon glyphicon-remove","提交归档出错");
          break;
        case 300:
          dataToHtml(fmsTask,"final","glyphicon glyphicon-ok","归档成功");
          break;
        case 301:
          dataToHtml(fmsTask,"waiting","glyphicon glyphicon-remove","归档失败");
          break;
        default:
          break;
      }
    }
    refresh();
    setInterval(function () {
      refresh();
    },5000);

  </script>
</body>
</html>